.dual-background, .dual-container,
.dual-slider {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

.dual-background {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    z-index: 1;
}
.dual-horizontal.dual-background {
    top: 50%;
    transform: translateY(-50%);
}

.dual-range, .dual-container {
    display: inline-block;
    position: fixed;
}
.dual-range.dual-container {
    z-index: 2;
}
.dual-first.dual-container,
.dual-last.dual-container {
    z-index: 3;
}
.dual-vertical.dual-container {
    text-align: center;
}

.dual-slider {
    top: 50%;
    margin: auto;
}
.dual-horizontal.dual-first.dual-slider,
.dual-horizontal.dual-last.dual-slider {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    cursor: ew-resize;
}
.dual-horizontal.dual-range.dual-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    cursor: move;
}
.dual-vertical.dual-slider {
    position: relative;
    cursor: ns-resize;
}
.dual-vertical.dual-range.dual-slider {
    position: absolute;
    top: 0%;
    transform: translateX(-50%);
    height: 100%;
    cursor: move;
}